{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cloud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="{% static "cloud/js/jquery-3.6.0.min.js" %}"></script>
    <link href='{% static "cloud/css/bootstrap.min.css" %}' rel='stylesheet'>
    <link href='{% static "cloud/css/main.css" %}' rel='stylesheet'>
    <script src="{% static "cloud/js/bootstrap.min.js" %}"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                document.getElementById('drag_and_title').innerHTML = input.files[0].name;
            }
        }
    </script>
    <style>
        body {
            #background: #0a0a0a;
            #background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v996-025-kroirgmb.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&auto=format&ixlib=js-2.2.1&s=4354d3be1b8b0d5f7a741b056b8955eb);
            background: url('{% static "cloud/img/@lwall_3Dl (27).jpg" %}');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Roboto;
        }
    </style>
</head>


<body>
<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="header">
                <div class="login">

                    <div class="leftname">
                        <label style=" font-size: larger; margin-bottom: 45px;">{{ user.username }}</label>
                    </div>
                </div>
                <div class="logout">
                    <a href="/account/logout">
                        <label class="logoutbut" style="color: whitesmoke; margin-bottom: 10%; font-size: larger;">Log
                            Out
                        </label>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="part">
                <div class="main-body">
                    <div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="image-upload-wrap">
                                {% render_field form.file type="file" class="file-upload-input" onchange="readURL(this);" %}
                                <div class="drag-text">
                                    <h3 id="drag_and_title">Drag and drop a file or select add File</h3>
                                </div>
                            </div>
                            <p><input class="uploadbut"
                                      type="submit"
                                      value="Upload"/></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="part">
                <div class="main-body">
                    <div class="filecontent">
                        {% if documents %}
                            <div class="row">
                                {% for document in documents %}
                                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                        <div class="list-file" id="fileinfos"
                                             onclick="fileinfo(this);" data-download="{{ document.download_count }}"
                                             data-lastdown="{{ document.last_download }}"
                                             data-uploadtime="{{ document.upload_time }}"
                                             data-size="{{ document.size }}"
                                             data-status="{{ document.Status }}"
                                             data-uid="{{ document.uniq_Id.hex }}"
                                             data-href="/download/{{ document.uniq_Id.hex }}">
                                            <img class="list-file-img"
                                                 src='{% static "cloud/img/File_alt_font_awesome.svg.png" %}'/>
                                            <i class="list-file-name">{{ document.name|slice:":50" }}</i>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        {% else %}
                            <i style="color:#fff;">No File To Show</i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="part">
                <div class="main-body">
                    <div>
                        <div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="userinfo-p">Download</p>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <i class="userinfo-i">{{ user.profile.Download|floatformat:3 }} GB</i><br/><br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="userinfo-p">Upload</p>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <i class="userinfo-i">{{ user.profile.Upload|floatformat:3 }} GB</i><br/><br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="userinfo-p">Total Storage</p>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <i class="userinfo-i">{{ user.profile.Total_storage|floatformat:3 }} GB</i><br/><br/>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog"
         aria-labelledby="infoModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-content-addison">
                <div class="modal-header">
                    <h5 class="modal-title align-content-center" id="ModalTitle"></h5>
                    <button onclick="$('#infoModal').modal('toggle');" type="button" class="close close-addison"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="modal-p">Download Count: </p> <i class="modal-i" id="mo-dcount"></i><br/>
                    <p class="modal-p">Size: </p><i class="modal-i" id="mo-size"></i><br/>
                    <p class="modal-p">Status: </p><i class="modal-i" id="mo-status"></i><br/>
                    <p class="modal-p">Last Download: </p> <i class="modal-i" id="mo-dtime"></i><br/>
                    <p class="modal-p">Upload Time: </p><i class="modal-i" id="mo-utime"></i><br/>
                    <a id="downloadbtn">
                        <button type="button" class="uploadbut" data-dismiss="modal">Download</button>
                    </a>
                    <div class="fileextragroup">
                        <button id="deletebtn" type="button" class="fileextrabut" data-uid="">Delete</button>
                        <button id="copylinkbtn" type="button" class="fileextrabut" onclick="copytoclipbord();">Copy
                            link
                        </button>
                        <button id="statusbtn" type="button" class="fileextrabut">Share File</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
<footer>

</footer>
</html>
<script>
    function fileinfo(input) {
        $('#mo-dcount').html(input.dataset.download);
        $('#mo-dtime').html(input.dataset.lastdown);
        $('#mo-utime').html(input.dataset.uploadtime);
        let size = input.dataset.size;
        size /= 1048576;
        size = Math.round(size * 100) / 100;
        if (size < 1) {
            size = Math.round(size * 1024);
            $('#mo-size').html(size + " KB");
        } else if (size > 1 && size < 1000) {
            $('#mo-size').html(size + " MB");
        } else {
            size /= 1024;
            size = Math.round(size * 1000) / 1000;
            $('#mo-size').html(size + " GB");
        }
        let status = input.dataset.status;
        if (status == 1)
            status = "private";
        else
            status = "public";
        $('#mo-status').html(status);
        $('#ModalTitle').html(input.children[1].innerHTML);
        $("#downloadbtn").attr("href", input.dataset.href);
        $("#deletebtn").data('uid', input.dataset.uid);
        $('#infoModal').modal('toggle');
    }

    function copytoclipbord() {
        var aux = document.createElement("input");
        let copyText = $('#downloadbtn').attr('href');
        copyText = location.host + copyText;
        aux.setAttribute("value", copyText);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        navigator.clipboard.writeText(aux.value);
        document.body.removeChild(aux);

        alert("link copied: \n" + aux.value);
    }


    $(document).ready(function () {
        $("#deletebtn").click(function (event) {
            event.preventDefault();
            let text = "Your file will be delete";
            if (confirm(text) == true) {
                let data = JSON.stringify({'uniq_Id': $("#deletebtn").data('uid'),'csrfmiddlewaretoken':$('input')[0].value});
                $.ajax({
                    url: '/api/files/delete',
                    method: 'DELETE',
                    contentType: 'application/json;charset=UTF-8',
                    data: data,
                    dataType: 'json',
                    success: function (result) {
                        $('#infoModal').modal('toggle');
                        location.reload();
                    },
                    error: function (request, msg, error) {
                        $('#infoModal').modal('toggle');
                        alert("error on delete" + "\n" + msg + "\n" + error);
                    }
                });

            }
        });
        $("#statusbtn").click(function (event) {
            event.preventDefault();
            let text = "Change file status?\n if status is public you can share it with link";
            if (confirm(text) == true) {
                let data = JSON.stringify({'uniq_Id': $("#deletebtn").data('uid')});
                $.ajax({
                    url: '/api/files/status',
                    method: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    data: data,
                    dataType: 'json',
                    success: function (result) {
                        let status = $('#mo-status').html();

                        if (status == "public") {
                            text = "private";
                            $('#mo-status').html(text);
                            $('#fileinfos').attr('data-status', 1);
                        } else {
                            text = "public"
                            $('#mo-status').html(text);
                            $('#fileinfos').attr("data-status", 0);
                        }
                        alert("Status change to: " + text);
                    },
                    error: function (request, msg, error) {
                        alert("error on change status" + "\n" + msg + "\n" + error);
                    }
                });

            }
        });
    });

</script>